<!DOCTYPE html>
<html lang="en">
<%- include('component/head.ejs', { title: 'Book Detail' }) %>
<body>
    <%- include('component/navbar.ejs', { links }) %>
    <br>

    <h1><%= book.title %></h1>
    <h3>By <%= author.name %></h3>
    <p><%= book.summary %></p>
    <a href="/books/<%= book.id %>/reserve">Reserve</a>
</body>
</html>